


nav {
    
    top: 0;
    left: 0;
    padding: 0 4%;
    .navbar-brand {
        font-size: 32px;
        font-weight: bold;
    }

    #user-svg {
        font-size: 36px;
        color: #fff;
    }
}