:host {
    
    

    /* display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 16px;
    padding: 10px; */


    #taskContainer {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        overflow-x: scroll;
        gap: 1rem;
        padding: 2rem 0;
        padding-right: 8px;
        background: rgb(255,80,80);
        background: linear-gradient(180deg, rgba(255,80,80,1) 0%, rgba(206,1,86,1) 100%);
        #task:nth-child(1) {
            margin-left: 4%;
        }
    }
    #taskLabel{
        padding: 0 4%;
    }
    #task {
        min-width: 350px;
        
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
        min-height: fit-content;
        padding: 10px 16px;
        border-radius: 8px;
        background: var(--secondary);
        height: auto;
        transition: 0.3s ease;

        
        &:hover { 
            transition: 0.3s transform ease;
            transform: translateY(-4px);
            outline: 2px solid #ffffff77;
           
        }


        * {
            color: var(--text);
        }

        

        #taskTitle {
            font-size: 26px;
            overflow-wrap: break-word;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        #taskContent {
            font-size: 16px;
            overflow-wrap: break-word;
            overflow: hidden;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            max-height: 96px;

        }

        #taskCheckbox {
            font-size: 30px;
        }
        #taskButtonWrap{
            
            & button{
                aspect-ratio: 1/1;
                padding: 0 6px;
                transition: 0.3s ease;
                border-radius: 8px;
                &:hover{
                transition: 150ms ease;
                transform: scale(1.3);

                & i {
                    color: rgb(255, 255, 255);
                }
                }
            }
        }
    }



}

.NewTask {


    & button {
        background-color: rgb(255,80,80) !important;
        color: black;
        border: transparent;
        font-weight: bold;
    }
}