
*{
    box-sizing: border-box;
    color-scheme: dark;
}
:root{
--text: #e9e7e7;
--background: #111111;
--primary: #ddab78;
--secondary: #232323; 
--accent: #b75252;
}

html {height: 100vh;}
 
body {
    height: 100%;
    background-color: var(--background) !important;  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    * {
        font-family: 'Urbanist', sans-serif;
        font-weight: 500;
        color: #fff;
    }

}

*{
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.768);
        border-radius: 20px;
        border: transparent;
    }	
}


.T-Button {
    padding: 8px 18px;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    border-radius: 7px;
    background: #F67701;
}


@import 'bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";