<form class="needs-validation pt-3" novalidate [formGroup]="form">
    <div class="col-sm-6">

      <div class="container">
        <label for="title" class="form-label">Título da atividade</label>
        <input
          type="text"
          class="form-control"
          id="title"
          placeholder="Título da atividade"
          formControlName="title"
          [ngClass]="{ 'is-invalid': submitted }"
        />
      </div>

      <div class="container mt-3">
        <label for="category" class="form-label">Descrição da atividade</label>
        <textarea
        class="form-control"
        placeholder="Descreva a atividade"
        formControlName="category"
        id="category"
        [ngClass]="{ 'is-invalid': submitted }"
        ></textarea>
      </div>

    </div>
    
    <div class="float-end">
      <button type="submit" class="btn btn-primary" (click)="onSave()" [disabled]="form.invalid">
        Salvar
      </button>
      <button type="submit" class="btn btn-default" (click)="onCancel()">
        Cancelar
      </button>
    </div>
  </form>
  